#Introdução a numPy e Pandas
pandas e numpy são bibliotecas essenciais para análise de dados em Python. numpy fornece suporte para arrays eficientes e operações matemáticas, enquanto pandas usa essa base para trabalhar com dados estruturados em tabelas, facilitando a manipulação, análise e limpeza dos dados.

##Import das Bibliotecas

In [ ]:
#Import das bibliotecas
import numpy as np
import pandas as pd

##numPy
O numpy é uma biblioteca fundamental para computação numérica em Python. Ela fornece suporte para arrays multidimensionais, que permitem armazenar e manipular grandes volumes de dados de forma eficiente. Além disso, oferece funções matemáticas de alto desempenho para cálculos científicos e análises complexas.

### Criação de um ndarray

Um ndarray (N-dimensional array) é o principal objeto da biblioteca numpy. Ele é uma estrutura de dados que armazena elementos de forma multidimensional em um array de tamanho fixo, onde todos os elementos devem ser do mesmo tipo (como inteiros, floats, etc.). O ndarray é altamente eficiente para operações matemáticas e computacionais.

In [ ]:
#Vamos criar um ndarray simples

### Operações Matemáticas

In [ ]:
#Multiplicação do ndarray por 2

In [ ]:
#Subtração do ndarray por 5

In [ ]:
#Multiplicação de dois ndarray

### Seleção, Indexação e Fatiamento

In [ ]:
#Selecionar todos os valores menores do que 3

In [ ]:
#retornar os três primeiro valores do primeiro array

In [ ]:
#Criar um ndarray de nomes

In [ ]:
#testar condição de um nome

In [ ]:
#relacionar a condição do ndarray de nomes com o de valores

### Funções Embutidas

In [ ]:
#Função embutida para somar os valores de um ndarray

In [ ]:
#Função embutida para realizar a média dos valores de um ndarray

In [ ]:
#Função embutida para retornar o valor máximo de um ndarray

## Pandas
Pandas é uma biblioteca de código aberto para análise de dados em Python. Ela é usada principalmente para manipulação, limpeza e análise de dados estruturados, como tabelas (similares às planilhas do Excel). Pandas fornece estruturas de dados eficientes e flexíveis, chamadas de Series (colunas unidimensionais) e DataFrames (tabelas bidimensionais).

In [ ]:
#Dataframe nota dos alunos
data = {
    'Aluno': ['Robb', 'Jon', 'Arya'],
    'Matemática': [85, 90, 95],
    'História': [88, 92, 80],
    'Ciências': [90, 85, 88]
}

#realizar a leitura de um Dataframe

#Exibir os 5 primeiros registros

Um DataFrame do pandas é uma tabela composta por dados organizados em linhas e colunas, com cada coluna tendo seu próprio tipo de dado. O índice ajuda a identificar e acessar as linhas de forma eficiente.

### Operações Matemáticas

In [ ]:
#Multiplicação de uma coluna de um Dataframe pandas

In [ ]:
#Divisão de uma coluna de um Dataframe pandas

In [ ]:
#Subtração de uma coluna de um Dataframe pandas

### Seleção

In [ ]:
#Selecionar dados de uma coluna

In [ ]:
#Selecionar duas colunas

### Filtros

O **iloc** é um método do pandas usado para acessar dados de um DataFrame ou Series com base na posição das linhas e colunas, ou seja, por índices numéricos. O nome "iloc" vem de integer location, o que significa que ele utiliza números inteiros para identificar a localização dos dados

In [ ]:
#Selecione a primeira posição das linhas

In [ ]:
#Selecione as notas de um Aluno

O loc é um método do pandas utilizado para acessar dados em um DataFrame ou Series com base no rótulo das linhas e colunas, ou seja, por nomes e rótulos, ao contrário do iloc que usa posições numéricas.

In [ ]:
#Selecione as notas de um Aluno com loc

In [ ]:
#Alteração de um valor de coluna baseado em uma condição

In [ ]:
#Visualizar o Dataframe

### Funções Embutidas

In [ ]:
#Qual a média da turma na matéria de Matemática?

In [ ]:
#Qual a média geral do Aluno chamado Robb